{% extends 'home/base.html' %}
{% load static %}

{% block title %}
About me | ryckee
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class='col-12 col-md-3'>
        <img src="{% static 'about/me.jpg' %}" width='100%'><br>
        <br>
        <div class='text-center'>
            <h2>ryckee</h2>
            <hr>
            <p>ryckee.xing@gmail.com</p>
            <a href="https://github.com/imryckee"><img src="{% static 'about/github.jpg' %}" width='60px'></a>
            <a href="{% static 'about/resume.pdf' %}"><img src="{% static 'about/resume.jpg' %}" width='60px'></a>
        </div>
        <br>
    </div>
    <div class='col-12 col-md-6'>
        <div>
            <h1>About me</h1>
            <hr>
            <p>Hi, my name is ryckee.</p>
            <p>I'm a software developer living in China.</p>
        </div>
        <div>
            <h1>My skills</h1>
            <hr>
            <p>TBC</p>
        </div>
    </div>
</div>
<div class="text-center">
    
    
    
    
    
    
</div>
{% endblock %}