{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Ryckee's personal website
{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class='col-md-6 col-lg-4'>
        <img src="{% static 'about/me.jpg' %}" width='100%'>
    </div>
    <div class="col-md-6 col-lg-4">
        <h1><a href='{% url "about" %}' class="text-dark">About me</a></h1>
        <hr>
        <p>Hi, my name is ryckee.</p>
        <p>I'm a software developer living in China.</p>
        <p>Here is my personal website.</p>
        <br>
        <a href="https://github.com/imryckee"><img src="{% static 'about/github.jpg' %}" width='75px'></a>
        <a href="{% static 'about/resume.pdf' %}"><img src="{% static 'about/resume.jpg' %}" width='75px'></a>
    </div>
</div>
<br>

<a href='{% url "project:all_projects" %}' class="text-dark">
    <h1 class="d-inline">Projects</h1>
</a>
<hr>
<div class="row">
    {% for pj in pjs %}
    <div class="col-md-6 col-lg-4">
        <a href='{% url "project:detail" pj.id %}'><img src="{{ pj.image.url }}" width='100%'></a>
        <h2><a href='{% url "project:detail" pj.id %}'>{{ pj.title }}</a></h2>
        <p>{{ pj.date|date:'F , Y' }}</p>
        <p>{{ pj.summary }}</p>

        {% if pj.live %}
        <a href='{{pj.live}}' class="btn btn-primary">Live</a>
        {% endif %}
        {% if pj.github %}
        <a href='{{pj.github}}' class="btn btn-primary">Source code</a><br>
        {% endif %}
        <br>
    </div>
    {% endfor %}
</div>
<br>

<h1><a href='{% url "blog:all_blogs" %}' class="text-dark">Blogs</a></h1>
<hr>
<div class="row">
    {% for blog in blogs %}
    <div class="col-md-6 col-lg-4">
        <a href='{% url "blog:detail" blog.id %}'><img src="{{ blog.image.url }}" class="mb-2" width='100%'></a>
        <h2><a href='{% url "blog:detail" blog.id %}'>{{ blog.title }}</a></h2>
        <p>{{ blog.date|date:'F d , Y' }}</p>
        <p>{{ blog.summary }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}